@use "./settings/colours" as *;

@keyframes line-drawing {
    0% {
        stroke-dashoffset: -3000;
        fill: transparent;
    }

    67% {
        stroke-dashoffset: 0;
        fill: transparent;
    }

    100% {
        fill: $charcoal-dark;
    }
}

#animated_logo {
    position: absolute;
    height: 100vh;
    width: 100%;
    pointer-events: none;
    z-index: -1;

    svg {
        object-fit: cover;
        width: 100%;
        height: 100vh;
        stroke: $charcoal-dark;
        fill: $charcoal-dark;
        stroke-width: 1px;
        stroke-dasharray: 3000;
        animation: line-drawing 3s linear;

        @media only screen and (width <= 1024px) {
            stroke-width: 5px;
        }
    }
}
