.image-container {
    overflow: hidden;
    width: 100%;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.lazyloading {
    filter: blur(10px);
}

.lazyloaded {
    transition: filter .28s ease;
}
