@import "./settings/colours";

@property --bg-rotation {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@property --bg-position {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --bg-gap {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@keyframes rotate-bg {
    from {
        --bg-rotation: 0deg;
        --bg-position: 0rem;
        // --bg-gap: 99px;
    }

    to {
        --bg-rotation: 360deg;
        --bg-position: 8rem;
        // --bg-gap: 99px;
    }
}

html {
    // Sometime it's bleeds over on resize for a moment
    background-color: $charcoal;
}

body {
    background: transparent;
}

// Apply all this BG to the pseudo elemtent so that it
// scrolls nicely on Firefox Android (and maybe others)
body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    --bg-rotation: 0deg;
    --bg-position: 99px;
    --bg-gap: 99px;
    --dot-size: 5px;
    background-color: $pink;
    background:
        radial-gradient(transparent 25%, $charcoal),
        linear-gradient(transparent calc(var(--dot-size) / 2),
            $charcoal calc(var(--dot-size) / 2),
            $charcoal var(--bg-gap),
            transparent var(--bg-gap)),
        linear-gradient(90deg,
            transparent calc(var(--dot-size) / 2),
            $charcoal calc(var(--dot-size) / 2),
            $charcoal var(--bg-gap),
            transparent var(--bg-gap)),
        conic-gradient(from var(--bg-rotation),
            $red,
            $blue,
            $yellow,
            $pink,
            $green,
            $orange,
            $red );
    background-size:
        100vw 100vh,
        4rem 4rem,
        4rem 4rem,
        100vw 100vh;
    background-repeat: no-repeat, repeat, repeat, repeat;
    background-attachment: fixed, scroll, scroll, fixed;
    background-position:
        center,
        var(--bg-position) var(--bg-position),
        var(--bg-position) var(--bg-position),
        center;
    animation-name: rotate-bg;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes laptop-keyframes {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes setsquare-keyframes {
    0% {
        transform: rotate(5deg) scaleY(1);
    }

    50% {
        transform: rotate(-10deg) scaleY(1);
    }

    100% {
        transform: rotate(5deg) scaleY(1);
    }
}

@keyframes joypad-keyframes {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(25deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

#key_facts {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    min-height: 100vh;
    align-items: start;
    width: 80vw;
    margin-inline: auto;

    @media (min-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    >div {
        text-align: center;
        padding: 2rem;
        top: 0;
        height: fit-content;

        @media (min-width: 1024px) {
            padding-top: 33vh;
            margin-bottom: 50vh;
            position: sticky;
        }

        &:nth-child(1) {
            margin-top: 0;

            .big-text {
                color: $red;
                transform-origin: center;

                &:hover {
                    animation: laptop-keyframes 0.2s 1 linear;
                }

                +div {
                    color: $red;
                }
            }
        }

        &:nth-child(2) {
            @media (min-width: 1024px) {
                margin-top: 33vh;
            }

            .big-text {
                color: $yellow;
                transform-origin: center;

                &:hover {
                    animation: setsquare-keyframes 0.2s 1 linear;
                }

                +div {
                    color: $yellow;
                }
            }
        }

        &:nth-child(3) {
            perspective: 250px;

            @media (min-width: 1024px) {
                margin-top: 67vh;
            }

            .big-text {
                color: $blue;
                transform-origin: center;

                &:hover {
                    animation: joypad-keyframes 0.2s 1 linear;
                }

                +div {
                    color: $blue;
                }
            }
        }

        .big-text {
            font-size: 10rem;
            // opacity: .25;

            +div {
                font-family: "Caprasimo";
                letter-spacing: -0.1em;
                font-size: var(--font-size-xl);
            }
        }

        @media (min-width: 1024px) {
            &:nth-child(1) {
                margin-top: 0;
            }

            &:nth-child(2) {
                margin-top: 33vh;
            }

            &:nth-child(3) {
                margin-top: 67vh;
            }
        }
    }
}

@keyframes wobbly-shape {
    0% {
        border-radius: 80% 100% 60% 50%;
        rotate: 0deg;
    }

    17% {
        border-radius: 60% 80% 80% 60%;
    }

    34% {
        border-radius: 50% 60% 100% 80%;
    }

    100% {
        border-radius: 60% 50% 80% 100%;
    }

    67% {
        border-radius: 80% 60% 60% 80%;
    }

    83% {
        border-radius: 100% 80% 50% 60%;
    }

    100% {
        border-radius: 80% 100% 60% 50%;
        rotate: 360deg;
    }
}

@keyframes wobbly-shape-inner {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: -360deg;
    }
}

.image-container {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

.image-container:has(img.profile-picture) {
    // outline: .5rem solid black;
    animation-name: wobbly-shape;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-inline: auto;
    // filter: sepia(1) saturate(3.5) hue-rotate(330deg);

    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1rem rgba(0, 0, 0, 0.2) solid;
    scale: calc(1 / 1.2);
}

img.profile-picture {
    animation-name: wobbly-shape-inner;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 100%;
    height: 100%;
    display: block;
    scale: 1.2;
}

.bg-red-map-fareham {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5)),
        url("https://api.mapbox.com/styles/v1/mapbox/dark-v10/static/[-1.3066,50.7638,-1.0373,50.9338]/1280x1280?access_token=pk.eyJ1IjoidGhlcmljaGNvdXJ0IiwiYSI6ImNqdDMwdW1zNjFrZnQ0YXF0ZDU3MDIzdGoifQ.ZweulZXFgeSuZ9HZ6WrpTw");
    background-size: cover;
    background-position: center;
}

.bg-blue-code {
    background-image:
        linear-gradient(135deg, rgb(50 168 189 / 75%), rgb(50 188 110 / 75%)),
        url("../images/code.jpg");
    background-size: cover;
    background-position: center;
}

.bg-yellow-translucent {
    // background-image: linear-gradient(135deg,
    //         rgba(219, 164, 58, 0.75),
    //         rgba(216, 58, 69, 0.75));
}

.glazed {
    backdrop-filter: blur(10px) saturate(150%);
    background-color: $charcoal;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1rem;
    // box-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.2);
    border-radius: 2rem;

    @media (min-width: 1024px) {
        padding: 2rem;
    }
}

#about-me {
    text-align: center;

    @media (min-width: 1024px) {
        flex-basis: calc(30rem + 4rem);
        flex-shrink: 0;
        text-align: start;
    }
}

@counter-style repeating-emoji {
    //   system: cyclic;
    symbols: "👨‍💻" "🕹️" "🚴";
    suffix: "   ";
}

ul {
    list-style-type: repeating-emoji;
}

#my-work {
    --item-size-ish: 18rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--item-size-ish), 1fr));
    padding-inline: 1rem;
    align-self: stretch;
    gap: 1rem;

    @media (min-width: 1024px) {
        --item-size-ish: 26rem;
        gap: 2rem;
    }

    article {
        --bg-my-work-item: red;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 1.5rem;
        // overflow: hidden;
        padding: 1rem;
        background-color: var(--bg-my-work-item);

        &.work-item-rq {
            background-color: #223A6C;
            color: #4cb1ff;
        }

        &.work-item-seetheworld {
            background-color: #ED2559;
        }

        &.work-item-translations {
            background-color: $green;
            color: $red;
        }

        &.work-item-gallery {
            background-color: $red;
            color: $green;
        }

        &.work-item-ballthing {
            background-color: #E3D92C;
            color: #EE5029;
        }

        &.work-item-outbreak {
            background-color: #F96D4F;
            color: #80f6ff;

        }

        &.work-item-gamejams {
            background-color: #746D63;
        }

        .article-text-content {
            // text-align: center;

            >div {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: start;
            }

            svg.heading-svg {
                width: 100%;
                height: auto;
                fill: currentColor;
                // transform: translateY(-4rem) rotate(-5deg) scale(1);

                text {
                    width: 100%;
                    height: 100%;
                    line-height: 1;
                    text-transform: uppercase;
                    font-weight: 900;
                    // text-shadow: 2px 2px 0 $charcoal;
                }
            }
        }

        .image-container {
            aspect-ratio: 16 / 9;
            width: 100%;
            height: auto;
            border-radius: 1rem;
        }
    }

    .tech {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 0.5rem;
        font-size: 0.8rem;

        span {
            padding: 0.25rem 0.5rem;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 0.25rem;
            font-weight: 700;
        }
    }
}

.role {
    --spacing: 0.5em;
    letter-spacing: var(--spacing);
    opacity: 0.7;
    text-transform: uppercase;
    font-size: var(--font-size-m);
}

#copyright p {
    font-size: var(--font-size-s);
}