@property --bg-rotation {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@property --bg-position {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@keyframes rotate-bg {
    from {
        --bg-rotation: 0deg;
        --bg-position: 0rem;
    }

    to {
        --bg-rotation: 360deg;
        --bg-position: 16rem;
    }
}

body {
    --bg-rotation: 0deg;
    --bg-position: 99px;
    --dot-size: 2px;
    background-color: $pink;
    background:
        radial-gradient(transparent 75%, $charcoal),
        linear-gradient(transparent calc(var(--dot-size) / 2),
            $charcoal calc(var(--dot-size) / 2),
            $charcoal 99px,
            transparent 99px),
        linear-gradient(90deg,
            transparent calc(var(--dot-size) / 2),
            $charcoal calc(var(--dot-size) / 2),
            $charcoal 99px,
            transparent 99px),
        conic-gradient(from var(--bg-rotation),
            $red,
            $blue,
            $yellow,
            $pink,
            $green,
            $orange,
            $red );
    background-size:
        100vw 100vh,
        4rem 4rem,
        4rem 4rem,
        100vw 100vh;
    background-repeat: no-repeat, repeat, repeat, repeat;
    background-attachment: fixed, scroll, scroll, fixed;
    background-position: center, var(--bg-position) var(--bg-position), var(--bg-position) var(--bg-position), center;
    animation-name: rotate-bg;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes wobbly-shape {
    0% {
        border-radius: 80% 100% 60% 50%;
        rotate: 0deg;
    }

    17% {
        border-radius: 60% 80% 80% 60%;
    }

    34% {
        border-radius: 50% 60% 100% 80%;
    }

    100% {
        border-radius: 60% 50% 80% 100%;
    }

    67% {
        border-radius: 80% 60% 60% 80%;
    }

    83% {
        border-radius: 100% 80% 50% 60%;
    }

    100% {
        border-radius: 80% 100% 60% 50%;
        rotate: 360deg;
    }
}

@keyframes wobbly-shape-inner {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: -360deg;
    }
}

.image-container {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

.image-container:has(img.profile-picture) {
    // outline: .5rem solid black;
    animation-name: wobbly-shape;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-inline: auto;
    // filter: sepia(1) saturate(3.5) hue-rotate(330deg);

    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1rem rgba(0, 0, 0, 0.2) solid;
    scale: calc(1 / 1.2);
}

img.profile-picture {
    animation-name: wobbly-shape-inner;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 100%;
    height: 100%;
    display: block;
    scale: 1.2;
}

.bg-red-map-fareham {
    background-image:
        linear-gradient(135deg,
            rgba(189, 73, 50, 0.75),
            rgba(188, 50, 124, 0.75)),
        url("https://api.mapbox.com/styles/v1/mapbox/dark-v10/static/[-1.3066,50.7638,-1.0373,50.9338]/1280x1280?access_token=pk.eyJ1IjoidGhlcmljaGNvdXJ0IiwiYSI6ImNqdDMwdW1zNjFrZnQ0YXF0ZDU3MDIzdGoifQ.ZweulZXFgeSuZ9HZ6WrpTw");
    background-size: cover;
    background-position: center;
}

.bg-blue-code {
    background-image:
        linear-gradient(135deg, rgb(50 168 189 / 75%), rgb(50 188 110 / 75%)),
        url("../images/code.jpg");
    background-size: cover;
    background-position: center;
}

.bg-yellow-translucent {
    background-image: linear-gradient(135deg,
            rgba(219, 164, 58, 0.75),
            rgba(216, 58, 69, 0.75));
}

.glazed {
    backdrop-filter: blur(10px) saturate(150%);
    background-color: rgb(50, 168, 189, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1rem;
    box-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.2);
    border-radius: 2rem;

    @media (min-width: 1024px) {
        padding: 2rem;
    }
}

#about-me {
    text-align: center;

    @media (min-width: 1024px) {
        flex-basis: calc(30rem + 4rem);
        flex-shrink: 0;
        text-align: start;
    }
}

#my-work {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-inline: 1rem;

    @media (min-width: 1024px) {
        gap: 8rem;
        padding: 2rem;
    }

    article {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #212121;
        border-radius: 1rem;
        overflow: hidden;

        @media (min-width: 1024px) {
            flex-direction: row;
            border: none;
            background-color: transparent;

            &:nth-child(even) {
                flex-direction: row-reverse;
            }

            .image-container {
                flex: 0 0 60%;
                border-radius: 2rem;
            }
        }

        .article-text-content {
            display: flex;
            margin: auto;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            text-align: center;

            @media (min-width: 1024px) {
                padding-inline: 2rem;
                padding-block: 0;
            }

            >div {
                max-width: min(100%, 30rem);
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: center;
            }
        }
    }

    .tech {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
        font-size: 0.8rem;

        span {
            padding: 0.25rem 0.5rem;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 0.25rem;
        }
    }
}

.role {
    --spacing: 0.5em;
    letter-spacing: var(--spacing);
    padding-left: var(--spacing);
    opacity: 0.7;
    text-transform: uppercase;
}