@import "./settings/colours";

@font-face {
    font-family: 'Caprasimo';
    font-style: normal;
    font-weight: normal;
    src: local('Caprasimo'), url('../font/caprasimo-regular.ttf') format('ttf');
}

// @font-face {
//     font-family: 'Magic Vintage';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Magic Vintage'), url('../font/magic-vintage.ttf') format('ttf');
// }

// @font-face {
//     font-family: 'Sharp Sans';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Samsung Sharp Sans Regular Regular'), url('../font/SamsungSharpSansRegular.woff') format('woff');
// }

// @font-face {
//     font-family: 'Sharp Sans';
//     font-style: normal;
//     font-weight: bold;
//     src: local('SamsungSharpSans-Bold'), url('../font/SamsungSharpSansBold.woff') format('woff');
// }

::selection {
    color: $charcoal;
    background-color: $pink;
}

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Inter', 'Noto Emoji', 'Roboto', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

h1 {
    font-family: 'Caprasimo';
    font-size: clamp(6rem, 15vw, 16rem);
    letter-spacing: -.09375em;
    font-weight: 100;
    line-height: 1;
    text-shadow: -.04em 0 0 $charcoal;
    // color: rgba(255, 255, 255, .5);
}

h2 {
    font-family: 'Caprasimo';
    font-size: 7rem;
    letter-spacing: -.6rem;
    text-shadow: -.5rem 0 0 $charcoal;
    font-weight: 700;
    line-height: 1;
    color: $yellow;

}

h3 {
    font-family: 'Caprasimo';
    font-size: 4rem;
    letter-spacing: -.25rem;
    font-weight: 700;
    line-height: 1;
}

h4 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
}

h5 {
    font-size: 1.25rem;
    font-weight: 400;
}

p {
    &.subtitle {
        font-size: 1.5rem;
        font-weight: 400;
    }
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
dl,
img {
    margin: 0;
}

article img {
    display: block;
}

article {

    >h1,
    >h2,
    >h3,
    >h4,
    >h5,
    >p,
    >ul,
    >ol,
    >dl,
    >img,
    >picture>img {
        // In articles, let's stick to a nice width
        max-width: 30rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 1rem;
    }
}

a {
    position: relative;
    color: inherit;
    text-decoration: none;
    transition: color .28s linear;
    // border-bottom: .125rem solid $red;

    &:hover {
        color: $red;
    }
}

code {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    white-space: pre;
    background-image: linear-gradient(0deg, $charcoal, $charcoalLighter);
    color: $chalk;
    padding-left: .25rem;
    padding-right: .25rem;
    border-radius: .25rem;

    &.block {
        display: block;
        padding: 1rem;
    }
}

.text-align-centre {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

p,
ul,
ol,
dl {
    font-size: 1.25rem;
}