@import "./settings/colours";

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Sharp Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sharp Sans Regular Regular'), url('../font/SamsungSharpSansRegular.woff') format('woff');
}

@font-face {
    font-family: 'Sharp Sans';
    font-style: normal;
    font-weight: bold;
    src: local('SamsungSharpSans-Bold'), url('../font/SamsungSharpSansBold.woff') format('woff');
}

::selection {
    color: $chalk;
    background-color: $pink;
}

html {
    font-size: clamp(.5vw, 16px, 10vw);
    line-height: 1.3;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

h1 {
    font-size: 4rem;
    font-family: 'Sharp sans', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    font-family: 'Sharp sans', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.75rem;
    font-family: 'Sharp sans', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.5rem;
    font-family: 'Sharp sans', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
}

h5 {
    font-size: 1.25rem;
    font-family: 'Sharp sans', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    font-weight: 400;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;

    &.subtitle {
        font-size: 2rem;
        font-family: 'Sharp sans', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
        font-weight: 400;
        margin-bottom: 1rem;
    }
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
dl,
img {
    margin: 0;
}

article img {
    display: block;
}

article {
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > p,
    > ul,
    > ol,
    > dl,
    > img,
    > picture > img {
        // In articles, let's stick to a nice width
        max-width: 30rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 1rem;
    }
}

a {
    position: relative;
    color: inherit;
    text-decoration: none;
    transition: color .28s linear;
    border-bottom: .125rem solid $red;

    &:hover {
        color: $red;
    }
}

code {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    white-space: pre;
    background-image: linear-gradient(0deg, $charcoal, $charcoalLighter);
    color: $chalk;
    padding-left: .25rem;
    padding-right: .25rem;
    border-radius: .25rem;

    &.block {
        display: block;
        padding: 1rem;
    }
}

.text-align-centre {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}
