@import "~normalize.css";

* {
    box-sizing: border-box;
}

@media (prefers-reduced-motion) {
    * {
        transition: none !important;
        animation: none !important;
    }
}

.overflow-hidden {
    overflow: hidden;
}

@import "typography";
@import "layout";
@import "colours";
@import "spacing";
@import "corners";
@import "menu";
@import "buttons";
@import "images";
@import "transition-states";
@import "portfolio-specific";
@import "animated-logo";
