@import "./settings/colours";

.bubbles-container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -1;

    div {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $chalk;
        border-radius: 50%;
        transition: background-color .28s linear;
        border: 1px solid rgba(255, 255, 255, .2);
        padding: 2rem;

        @media only screen and (max-width: 1024px) {
            padding: 1rem;
        }

        &.lit-up {
            background-color: #aaa;
            transform: scale(.9);
            transition: none;
        }

        img {
            --size: 8rem;
            display: block;
            width: var(--size);
            height: var(--size);
            transition: width .28s ease, height .28s ease;

            @media only screen and (max-width: 1024px) {
                --size: 3rem;
            }
        }
    }
}
