@import "./settings/colours";

.bubbles-container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -1;

    div {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $chalk;
        // background-image: radial-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .1));
        // box-shadow: inset .5rem .5rem 1rem rgba(255, 255, 255, .8);
        border-radius: 50%;
        transition: background-color .28s linear, box-shadow .28s linear;
        // backdrop-filter: blur(1rem);
        border: 1px solid rgba(255, 255, 255, .2);


        &.lit-up {
            // background-color: rgba(255, 255, 255, .8);
            background-color: $yellow;
            // box-shadow: inset .25rem .25rem 2rem #bd4932;
            transition: none;
        }

        img {
            display: block;
            width: 8rem;
            height: 8rem;
            transition: width .28s ease, height .28s ease;

            @media only screen and (max-width: 1024px) {
                width: 4rem;
                height: 4rem;
            }
        }
    }
}