@use "./settings/colours" as *;

@keyframes circle-text-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#circle_text {
    // overflow: hidden;
}

.circle-text-container {
    position: absolute;
    overflow: hidden;
    inset: 0;
    pointer-events: none;

    .circle-text {
        --diameter: max(25rem, min(62.5vh, 40rem));

        position: absolute;
        top: 50%;
        left: 50%;
        width: var(--diameter);
        height: var(--diameter);
        z-index: -1;
        overflow: visible;
        color: $yellow;
        transform: translate(-50%, -50%);

        @media (width >= 1024px) {
            --diameter: 50rem;
        }
    }

    .circle-text-rotator {
        animation: circle-text-spin 60s linear infinite;
        transform-origin: 50% 50%;
        backface-visibility: hidden;
        will-change: transform;
    }

    .circle-text-content {
        fill: currentcolor;
        font-size: 4px;
        font-weight: 900;
        text-transform: uppercase;
        dominant-baseline: middle;
        white-space: pre;

        @media (width < 1024px) {
            font-size: 4.5px;
        }
    }
}
