@import "./settings/colours";

@keyframes circle-text-spin {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

.circle-text-container {
    position: absolute;
    right: 50%;

    .circle-text {
        position: relative;
        right: 50%;
        animation: circle-text-spin 60s linear infinite;
        text-transform: uppercase;
        font-weight: 900;
        color: $yellow;
        z-index: -1;

        >span {
            font-size: calc(var(--font-size, 2) * 1rem);
            position: absolute;
            top: 50%;
            left: 50%;
            transform:
                translate(-50%, -50%) rotate(calc(360deg / var(--total) * var(--index))) translateY(calc((min(50vh, 50vw) - 18rem) * -1));
        }
    }
}