@import "./settings/colours";

@keyframes circle-text-spin {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

#circle_text {
    // overflow: hidden;
}

.circle-text-container {
    position: absolute;
    right: 50%;
    overflow: hidden;
    inset: 0;
    pointer-events: none;

    .circle-text {
        position: relative;
        inset: 0;
        top: 50%;
        animation: circle-text-spin 60s linear infinite;
        text-transform: uppercase;
        font-weight: 900;
        color: $yellow;
        z-index: -1;

        >span {
            font-size: 1.5rem;
            position: absolute;
            top: 50%;
            left: 50%;

            --radius: calc(max(10rem, min(25vh, 16rem)) * -1);

            @media (min-width: 1024px) {
                --radius: calc(-20rem);
                font-size: 2rem;
            }

            transform: translate(-50%, -50%) rotate(calc(360deg / var(--total) * var(--index))) translateY(var(--radius));
        }
    }
}