@import "./settings/colours";

.crazy-text-container {
    cursor: pointer;
}

.crazy-text-word {
    // Ensure the text wraps properly
    display: inline-block;
}

.crazy-text-letter {
    display: inline-block;
    transition: transform 1s ease, color 1s ease;
    color: $orange;

    &.crazy,
    &:hover {
        transform: scale(1.5, 1.5) rotate(-5deg);
        transition: transform .28s cubic-bezier(.37, 0, .14, 5);

        &:nth-child(5n+0) {
            color: $red;
        }

        &:nth-child(5n+1) {
            color: $orange;
        }

        &:nth-child(5n+2) {
            color: $yellow;
        }

        &:nth-child(5n+3) {
            color: $green;
        }

        &:nth-child(5n+4) {
            color: $blue;
        }

        // &:nth-child(0) {
        //     color: $yellow;
        // }

        // &:nth-child(1) {
        //     color: $green;
        // }

        // &:nth-child(2) {
        //     color: $blue;
        // }

        // &:nth-child(3) {
        //     color: $red;
        // }

        // &:nth-child(4) {
        //     color: $orange;
        // }

        // &:nth-child(4) {
        //     color: $yellow;
        // }
    }

    &.hidden {
        color: transparent;
        transition: none;
        text-shadow: none;
    }
}