@import "./settings/colours";

.crazy-text-container {
    cursor: pointer;
}

.crazy-text-word {
    // Ensure the text wraps properly
    display: inline-block;
}

.crazy-text-letter {
    display: inline-block;
    transition: transform 1s ease, color 1s ease;

    &.crazy,
    &:hover {
        transform: scale(1.5, 1.5) rotate(-5deg);
        transition: transform .28s cubic-bezier(.37, 0, .14, 5);
        color: $pink;
    }

    &.hidden {
        color: transparent;
        transition: none;
    }
}
