$charcoal: #212121;
$charcoalDark: #151515;
$charcoalLight: #313131;
$charcoalLighter: #545454;

$chalk: #fff;

$red: #bd4932;
$blue: #32a8bd;
$yellow: #dba43a;
$pink: #bc327c;
$green: #32bc6e;
$orange: #d83a45;
