$charcoal: #151515;
$charcoal-dark: #151515;
$charcoal-light: #313131;
$charcoal-lighter: #545454;
$chalk: white;
$red: #d83a45;
$blue: #32a8bd;
$yellow: #dba43a;
$pink: #d83a45;
$green: #32bc6e;
$orange: #bd4932;
